
@font-face {
    font-family: 'beVietnam' ;
    src: url('./font/BeVietnamPro-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'beVietnam' ;
    src: url('./font/BeVietnamPro-Italic.woff2') format('woff2');
}
@font-face {
    font-family: 'beVietnam' ;
    src: url('./font/BeVietnamPro-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'beVietnam' ;
    src: url('./font/BeVietnamPro-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'beVietnam' ;
    src: url('./font/BeVietnamPro-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'beVietnam' ;
    src: url('./font/BeVietnamPro-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'beVietnam' ;
    src: url('./font/BeVietnamPro-Black.woff2') format('woff2');
}
@font-face {
    font-family: 'beVietnam' ;
    src: url('./font/BeVietnamPro-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'beVietnam' ;
    src: url('./font/BeVietnamPro-Thin.woff2') format('woff2');
}
@font-face {
    font-family: 'beVietnam' ;
    src: url('./font/BeVietnamPro-Light.woff2') format('woff2');
}