*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --nav-secondary: #626262;
    --topic-latest: #333333;
    --topic-coop: #F1406C;
    --topic-art: #E67472;
    --topic-culinary: #1ABC9C;
    --topic-life: #72C0C4;
    --topic-travel: #177E5F;
    --topic-heritage: #E7A652;
}

html{
    font-family: 'beVietnam';
    font-size: 62.5%;
    box-sizing: border-box;
}

/* Reset */
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
}

h1{
    font-size: 3.2em;
}
/*  */
.main-wrapper{
    overflow: hidden;
    min-width: 100%;
}

#header{
    background-color: #000;
    width: 100%;
    color: white;
    /* font-weight: 200; */
}

#top-header{
    justify-content: space-between;
    padding-top: 8px;
}

#top-header__left li > a{
    background-repeat: no-repeat ;
    background-position: left;
    background-size: 18px!important;

}

#item-UV{
    background: url(../assets/images/site0.png);
}
#item-SE{
    background: url(../assets/images/site1.png);
}
#item-KR{
    background: url(../assets/images/site2.png);
}
#item-UHE{
    background: url(../assets/images/site3.png); 
}

#top-header__left > .top-header__item, #top-header__right > .top-header__item{
    padding: 0 10px;
}

#top-header__left li > a[id*="item"]{
    padding-left: 2.5rem;
}

#top-header__left > .top-header__item  a{
    display: inline-block;
    white-space: nowrap;
    line-height: 2;
}

#top-header__left > .menu__root > .menu__branch > .top-header__item a{
    padding-left: 20px;
}

#top-header__left > .menu__root > .menu__branch{
    
}

#top-header__left > .top-header__item:nth-child(2){
    border-left: 1px solid white;
}

#top-header__right > .menu__root > .menu__branch > li > a > span{
    padding-left: .4rem;
}



#top-header__right> .top-header__item:nth-child(2){
    
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
}



.top-header__item{
    font-size: 1.2rem;
}

li > a:hover > span{
    text-decoration: underline;
}
.menu__root{
    position: relative;
    cursor: pointer;
}

.menu__root > .menu__branch > *{
    white-space: nowrap;
}
.menu__root:hover > .menu__branch{
    display: block;
}

.menu__branch{
    position: absolute;
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
    display: none;
    top: 100%;
    left: 0;
    padding-top: .5rem;
    padding-left: inherit;
    line-height: 1.5;
    transform-origin: top center ;
    animation: dropdown 300ms ease-out;
    z-index: 999;
    color: white;
}

@keyframes dropdown {
    0%{
        transform: scaleY(0);
    }
    80%{
        transform: scaleY(1.1);
    }

    100%{
        transform: scaleY(1);
    }
}





/* Overlay */

.overlay{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 9999;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition:opacity .35s, visibility .35s;
}

.overlay.reaveal{
    visibility: visible;
    opacity: 1;
}

/* Body no scroll */
.no-scroll{
    overflow: hidden;
}

.overlay-menu{
    position: relative;
    top: 30%;
    color: white;
    font-size: 2.1rem;
    perspective: 1200px;
}

.overlay > .overlay-menu > * {
    transform: rotateX(35deg) translateY(-25%);
    transition: transform .5s ;
}

.overlay.reaveal > .overlay-menu > *{
    transform: rotateX(0deg);
}


.overlay li:first-child >a{
    margin-left: -.5rem;
}

.overlay  li{
    padding: 1rem 0;
}

.overlay li > ul{
    padding-left: 2rem;
}


.overlay i > span{
    padding-left: 10rem;
}

.overlay a  > span{
    padding-left: 1rem;
}



/* .overlay-menu .top-header__left >li:not(:nth-child(2)){
    margin-left: -2.4rem;
} */


/* End overlay */

#main-logo{
    font-size: .5rem;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

#logo{
    margin-top: 10px;
}

/* Main-logo menu */
#main-logo > .menu{
    display: none;
    position: absolute;
    font-size: .8em;
    right: 15px;
    width: 6em;
    height: 4.5em;
    margin-top: 1rem;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 100000;
}

.menu > span{
    display: block;
    position: absolute;
    height: .4em;
    width: 100%;
    background: white;
    transition: .25s ease-in-out;

}

.menu > span:nth-child(1){
    top: 0;
    transform-origin: left center;
}

.menu > span:nth-child(2){
    top: 1.8em;
    transform-origin: left center;
}

.menu > span:nth-child(3){
    top: 3.6em;
    transform-origin: left center;
}

.menu.open > span:nth-child(1){
    transform: rotate(45deg);
    top: -.3em;
    left: .8em;
}

.menu.open > span:nth-child(2){
    width: 0;
    opacity: 0;
}

.menu.open > span:nth-child(3){
    transform: rotate(-45deg);
    top: 3.9em;
    left: .8em;
}



/* End Main-logo menu */

#main-logo img{
    width: 33rem;
    filter: invert(1);
}

#nav-wrapper{
    width: 100%;
    background-color: black;
}


#nav{
    margin: auto;
    padding-bottom: .8rem;
}

/* hide scrollbar */
#nav::-webkit-scrollbar {
    display: none;
  }

.nav__item{
    font-size: 1.75rem;
}

#nav > .nav__item{
    padding: 1.2rem 1.5rem 1.2rem ;
    white-space: nowrap;
}

#nav > .menu__root > .menu__branch{
    min-width: 25rem;
}

.nav__item.menu__root > .menu__branch > * {
    padding: 0.5em 0;
}

#nav > .nav__item:hover,
.menu__branch > *:hover:not(.menu__subBranch),
.menu__subBranch > .menu__leaf:hover {
    color: var(--nav-secondary);
    transition: color .1s ease-in;
}



.menu__subBranch > .menu__leaf{
    padding-left: 1rem ;
    margin-left: 1rem;
    border-left: 3px solid rgba(255, 255, 255, 0.4) ;
    /* transform-origin: top center; */
    animation: dropdown--leaf 600ms linear;
    
}
.menu__subBranch:hover > .menu__leaf{

}

@keyframes dropdown--leaf {
    0%,60%{
        opacity: 0;
    }
    70%{
        transform: translateY(-60%);
    }
   90%{ transform: translateY(10%);
    opacity: 1;
}}


#nav-art >.menu__branch{
    background-color: var(--topic-art);
}

#nav-culinary > .menu__branch{
    background-color: var(--topic-culinary);
}

#nav-travel > .menu__branch{
    background-color: var(--topic-travel);
}

#nav-life > .menu__branch{
    background-color: var(--topic-life);
}

/* #nav .menu__branch > *:hover{
    background-color: var(--nav-secondary);
    opacity: 0.5;
} */




.fixed{
    position: fixed;
    top: 0;
    z-index: 9999;
}



#content-top{
    /* background-color: orange; */
}

#slider-wrapper{
    position: relative;
    width: 63%;
    flex: 1 1 0%;
}

#slider{
    /* width: 100%; */
    height: 100%;
}

#slider > *{
    display: flex;
    /* display: block; */
}

#slider img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 3s ease-in-out;
    position: relative;
}

#slider img:hover{
    transform: scale(1.1);
}


#slider .slider__article{
    position: relative;
}

#slider .article__heading{
    position: absolute;
    color: white;
    padding: 10px 40px 40px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

#slider .heading__title{
    font-size: 2.1vmax;
}

#slider .heading__subTitle{
    font-size: 1.4vmax;
}

.dots {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 2rem;
    }

        .dots__item {
        width: 1rem;
        height: 1rem;
        margin: 0 1.5rem;
        border: 0;
        background-color: #ccc;
        border-radius: 50%;
        outline: 0;
        cursor: pointer;
        }

        .dots__item--active {
        background: black;
        }


.btn-slider{
    position: absolute;
    top: 35%;
    height: 15%;
    width: 15%;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    opacity: 0.8;
    background: url(../assets/images/arrow-left-white.svg) no-repeat;
}

.btn-slider:hover{
    cursor: pointer;
    opacity: 1;

}

.btn-slider:focus{
    opacity: 1;
}
    .btn-slider.pre{
        left: 0;
        
    }

    .btn-slider.next{
        right: 0;
        transform: rotate(180deg);
    }



#spotify-wrapper{
    min-width: 35%;
    flex: 0 0 35%;
    margin-left: .8rem;
}

#spotify{
    position: relative;
    height: 100%;

}

#spotify > iframe{
    /* position: absolute; */
}

.topic-navigate{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    font-size: 1.3em;
    width: 100%;
    height: 8%;
    color: #E67472;
    background-color: black;
    transition: all .3s ease;
}
.topic-navigate:hover{
    background-color: #F1406C;
    color: white;
}


/* Content main */
main{
    /* margin: 0 2rem; */
}

#content-main{
    padding-bottom: 12rem;
}

/* Coloring topic */

#topic-latest > .topic__header{
    color: var(--topic-latest);
}

#topic-coop > .topic__header{
    color:var(--topic-coop);
}

    #topic-coop .topic__article{
        border-top: 3px solid var(--topic-coop);
    }

#topic-art > .topic__header{
    color: var(--topic-art);
}

    #topic-art .topic__article{
        border-top: 3px solid var(--topic-art);
    }

#topic-culinary > .topic__header{
    color: var(--topic-culinary);
}

    #topic-culinary .topic__article{
        border-top: 3px solid var(--topic-culinary);
    }

#topic-life > .topic__header{
    color: var(--topic-life);
}

    #topic-life .topic__article{
        border-top: 3px solid var(--topic-life);
    }

#topic-travel > .topic__header{
    color: var(--topic-travel);
}

    #topic-travel .topic__article{
        border-top: 3px solid var(--topic-travel);
    }

#topic-heritage > .topic__header{
    color: var(--topic-heritage);
}

    #topic-heritage .topic__article{
        border-top: 3px solid var(--topic-heritage);
    }

/* End Coloring topic */

.topic-wrapper{
    padding: 3.2rem 0 ;
}

.topic__header{
margin-bottom: .8rem ;
}


/* Content responsive */
/* @media screen and (max-width:992px) {
    .grid{
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
} */
/* Mobile */


/* End content responsive */

/* Grid */
.grid{
    display: grid;
    grid-gap: 26px 20px;
    
    /* grid-template-rows:  repeat(12,100px); */
    /* grid-auto-rows: auto; */
    }



    #topic-coop .grid{
        /* grid-template-rows: auto; */
        /* minmax(50px,1fr) */
    }

    @media screen and (min-width: 800px) {
    .layout_2-2-3 > .topic__article:first-child {
        /* grid-area: 1/1/5/8; */
        grid-column: span 7/auto;
        }
        
    .layout_2-2-3 > .topic__article:nth-child(2){
        /* grid-area: 1/8/5/13; */
        grid-column:  span 5/auto;
        }

    .layout_2-2-3 > .topic__article:nth-child(3),
    .layout_2-2-3 > .topic__article:nth-child(4){
        /* grid-area: 5/1/9/7; */
        grid-column: span 6/auto;
        /* grid-row: 2; */
    }

    .layout_2-2-3 > .topic__article:nth-child(5),
    .layout_2-2-3 > .topic__article:nth-child(6),
    .layout_2-2-3 > .topic__article:last-child{
        /* grid-area: 9/1/13/5; */
        grid-column: span 4/ auto;
    }
    
    .layout_4-3 > .topic__article{
        /* grid-area: 1/1/5/5; */
        grid-column: span 4/auto;
    }

    .layout_3 > .topic__article{
        grid-column: span 4/auto;
    }

}

@media screen and (min-width:1024px) {
    .grid{
        grid-template-columns: repeat(auto-fit,minmax(63px,1fr));
    }
}

@media screen and (max-width:1400px) {

}

@media screen and (min-width:1400px) {


    .grid{
        grid-template-columns: repeat(auto-fit,minmax(82px,1fr));
    }
}

@media screen and (max-width:1023px) {

    .grid{
        grid-template-columns: repeat(auto-fit,minmax(42px,1fr));
    }

}

@media screen and (max-width:800px) {
    
    .grid{
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }

}

    /* .g--4 */

/* End grid */

.topic__article{
position: relative;
background-color: #72C0C4;
min-height: 29em;
border-radius: 2px;
border-top: 2px solid #000 ;
box-shadow: 1px 1px 5px rgb(0 0 0 / 15%);
transition: all .2s ease-in-out;
font-size: 2.8ch;
cursor: pointer;
}
    .topic__article > * {
        pointer-events: none;
    }

    .topic__article:hover{
        transform: translateY(-5px);
    }
/* Select first 4 children */
#topic-latest  .topic__article:nth-child(-n+4){
    min-height: 33em;
}

/* Article */
.topic__article > article{
    display: flex;
    flex-direction: column ;
    height: 100%;
    background-color: white;
}

.article__author{
    width: 100%;
    display: flex;
    align-items: center;
    padding: .8rem 2rem;
}

.author__avatar{
    margin-right: 1.5rem;
}

.author__avatar > img{
    border-radius: 100%;  
    width: 3em; 
    object-fit: cover; 
}

.author__about{
    font-weight: 300;
}

.article__img{
    /* flex:  1 auto; */
    height: calc(100% - 10em);
}
.article__img > img{
    /* max-width: 100%; */
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.article__heading{
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    flex: 1 1 auto;
    /* z-index: 1; */

/* min-height: 30%; */
padding:1rem  2rem 1.5rem;
}

    .heading__title{
        font-size: 20px;
    }

    .heading__subTitle{
        margin-top: .5rem;
        font-weight: 300;
        font-size: .9em;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
/* End Article */


/* End content main */


/* Footer */
#footer{
    background-color: #000;
    color: white;
    font-size: 1.288rem;
    padding: 2rem 0;
}


#top-footer{
    width: 100%;
    margin-bottom: .8rem;
}

.menu .menu__item{
    padding: 0 .8rem;
}

.menu > .menu__item:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* .menu .menu__item:nth-child(n+2):nth-last-child(n+2)*/
.menu .menu__item:nth-child(n+2){
    border-left: 1px dotted white;
}

#brand-network{
    margin: 5rem 0;
}


#brand-network > hr{
    margin: 2vh;
    width: 40vw;
    height: .4rem;
    border-radius: 3rem;
    background-color: white;
}

    .brand__sibling{
        flex-wrap: wrap;
    }

    .brand-logo{
        max-width: 17rem;
        filter: brightness(100);
        padding: 0 1.6rem;
    }

/* End footer */

/* General classes */
.container{
    padding: 0 4rem;
}

.container-fluid{
    width: 100%;
    padding: 0;
}

.d-flex{
display: flex;
}

.d-flex--center{
display: flex;
justify-content: center;
align-items: center;
}

.flex-col{
    flex-direction: column;
}

.flex-row-rv{
    flex-direction: row-reverse;
}


li a{
    text-transform: capitalize;
}







/* End General classes*/


/* Responsive */
@media screen and (min-width:1024px) {

}

@media screen and (min-width:1400px) {

}

@media screen and (max-width:1023px) {

    /* Nav */
    .nav__item{
        font-size: 1.5em;
    }

    #main-logo img{
        width: 16rem;
    }

    #content-top > .container{
        flex-direction:  column;
        padding: 0;
    }

    /* Slider */

    #slider-wrapper{
        width: 100%;
        padding-bottom: 2rem;
    }

    #spotify-wrapper{
        padding: 0 1.6rem 5rem;
    }



    /* Slider article */

    #slider > * > *{
        height: calc(100vh - 14rem);
    }

    #slider .heading__title{
        font-size: 3.5vmax;
    } 

    #slider .heading__subTitle{
        font-size: 2.5vmax;
    } 

    #footer{
        font-size: 1.5rem !important;
    }

    #top-footer > .menu{
        flex-direction: column;
    }

    .menu  .menu__item{
        border: none !important;
        padding: .8rem 0 !important;
    }

    .brand-logo{
        max-width: 11rem !important;
    }
}

@media screen and (max-width:800px) {
    #top-header{
        display: none;
    }
    
     #main-logo > #main-nav{
        display:block;
    }


    #content-main > .container{
        padding: 0;
        margin: 0 10px;
    }
}

@media screen and (max-width:576px) {
        /* Nav */
        .nav__item{
            font-size: 1em;
        }
    
}

